@import '../../variables.scss';

.c-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: $c-footer-height;
    background-color: black;
    color: white;
    span {
        padding-right: 20px;
    }
}
