/* You can add global styles to this file, and also import other style files */
@import './variables.scss';
@import 'node_modules/@softvisionartifacts/navbar/assets/navbar.component.scss';

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    min-width: 100vw;
}
